.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
  color: white;
  letter-spacing: 0.05rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  color: #FBC02D;
  border: 10px solid #FBC02D;
  width: 140px;
  height: 140px;
  border-radius: 32px;
  margin-left: .6rem;
  justify-content: center;
  position: relative;
  margin-top: -.6rem;
}

.icon::before {
  content: "js";
  position: absolute;
  top: -0.4rem;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 8rem;
}

@media (max-width: 600px) {
  .title {
    font-size: 4rem;
  }
  .icon {
    border: 7px solid #FBC02D;
    width: 80px;
    height: 80px;
    border-radius: 16px;
    margin-left: 8px;
  }
  .icon::before {
    font-size: 4rem;
    top: 0;
  }
}